* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OD-R";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --green: rgba(76, 175, 80, 1);
    --whiteGrey: rgba(255, 255, 255, 0.4372);
    --title: rgba(51, 51, 51, 1);
    --titleLight: rgba(80, 78, 78, 1);
    --text: rgba(91, 88, 88, 1);
    --link: rgba(37, 37, 37, 1);
    --grey: rgba(119, 119, 119, 1);
    --bg: rgba(251, 251, 251, 1);
    --line: rgba(216, 216, 216, 1);
    --comment: rgba(55, 55, 55, 1);
    --contact-green: rgba(112, 189, 89, 1);
    --footer-bg: rgba(46, 46, 46, 1);

    

    --col-1: calc(100%/12);
    --col-2: calc(100%/12*2);
    --col-3: calc(100%/12*3);
    --col-4: calc(100%/12*4);
    --col-5: calc(100%/12*5);
    --col-6: calc(100%/12*6);
    --col-7: calc(100%/12*7);
    --col-8: calc(100%/12*8);
    --col-9: calc(100%/12*9);
    --col-10: calc(100%/12*10);
    --col-11: calc(100%/12*11);
    --col-12: 100%;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}



/* ======================================= */
/* ======================================= */
/* ======================================= */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    padding: 50px 0 0 0;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--title);
    transform: scaleY(0);
    transition: 0.2s;
    transform-origin: top;
}

.header.active::before {
    transform: scaleY(1);
}

.header__nav {
    background: transparent;
}

.header__list {
    display: flex;
    justify-content: flex-end;
    transition: 0.1s;
}

.header__link {
    margin: 0 30px;
    color: var(--white);
    position: relative;
}

.header__link::after {
    content: '';
    display: inline-block;
    width: 30%;
    height: 2px;
    background: var(--green);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleX(1);
    transition: 0.5s;
}

.header__link:hover::after {
    width: 100%;
}

.content-1 {
    background: url(../img/header-bg.jpg);
    background-size: cover;
}

.content-2 {
    background: url(../img/header-bg.jpg);
    background-size: cover;
}

.content-3{
    background: url(../img/header-bg.jpg);
    background-size: cover;
}


.content__body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: relative;
}

.content__title {
    font-size: 72px;
    line-height: 107px;
    margin-bottom: 25px;
    font-weight: 500;
    text-align: center;
}

.content__subtitle {
    font-size: 20px;
    line-height: 28px;
    font-family: "OS-R";
    opacity: 0.7;
    text-align: center;
}

.slider .slick-list {
    overflow: hidden;
}

.slider .slick-track {
    display: flex;
}

.slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.slider .slick-dots button {
    display: none;
}

.slider .slick-dots li::after {
    font-size: 18px;
    line-height: 27px;
    color: var(--white);
    opacity: 0.4;
    margin: 0 5px;
    transition: 0.2s;    
}

.slider .slick-dots li {
    position: relative;
}

.slider .slick-dots li::before{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--green);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
}

.slider .slick-dots li:first-of-type:after {
    content: '01';
}

.slider .slick-dots li:nth-of-type(2):after {
    content: '02';
}

.slider .slick-dots li:last-of-type::after {
    content: '03';
}

.slider .slick-dots li.slick-active::after{
    font-size: 36px;
    color: var(--white);
    opacity: 1;
    line-height: 55px;
    font-weight: 700;
}

.slider .slick-dots li.slick-active::before{
    transition: 0.5s;
    transform: scaleX(1);
}


/* ========================================= */
/* ========================================= */
/* ========================================= */

.start {
    padding: 120px 0;
}

.start__card-img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.start__card-content-1 {
    position: absolute;
    top: 30%;
    left: -50%;
    width: 320px;
}

.start__title {
    font-family: "OD-B";
    line-height: 54px;
    font-size: 36px;
    font-weight: 700;
    color: var(--title);
}

.start__text {
    color: var(--text);
    font-size: 15px;
    line-height: 25px;
    font-family: "OS-L";
    display: flex;
}

.start__text::before {
    content: '';
    display: block;
    min-width: 20px;
    height: 2px;
    background: var(--title);
    margin-top: 10px;
    margin-right: 10px;
}

.start__title span {
    font-family: "OD-L";
    font-weight: 300;
    letter-spacing: 10px;
}

.start__card-content-2 {
    position: absolute;
    top: 50%;
    right: -65%;
    width: 280px;
}

.start__cards {
    display: grid;
    grid-template: repeat(8, 60px) / 2fr 3fr 3fr 3fr 2fr;
    position: relative;
}

.start__card-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 7;
    position: absolute;
    left: 20px;
    z-index: 3;
}

.start__card-2 {
    grid-column: 3 / 4;
    grid-row: 2 / 8;
    width: 300px;
    height: 400px;
    background: var(--green);
    opacity: 0.7;
    z-index: 2;
}

.start__card-3 {
    grid-column: 4 / 5;
    grid-row: 3 / 9;
    position: absolute;
    right: 25px;
    z-index: 1;
}



/* ============================================== */
/* ============================================== */
/* ============================================== */

.services {
    padding: 130px 0;
    background: var(--bg);
}

.services__body {
    display: grid;
    grid-template: 1fr auto / repeat(3, 1fr);
    column-gap: 30px;
}

.services__title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-family: "OD-B";
    font-weight: 700;
    line-height: 71px;
    font-size: 48px;
    letter-spacing: 3px;
}

.services__title::after {
    content: '';
    width: 45px;
    height: 2px;
    background: var(--link);
    margin-top: 7px;
    margin-bottom: 85px;
    display: block;
}

.services__card {
    grid-row: 2 / 3;
    background: var(--white);
    padding: 40px 38px 25px 35px;
    display: grid;
    grid-template: 1fr auto auto / repeat(3, 1fr);
    align-items: center;
    position: relative;
}

.services__card-intro {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
}

.services__card::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--green);
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: left;
}

.services__card:hover::after {
    transform: scaleX(1);
}

.services__card-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: "OD-L";
    font-weight: 300;
    line-height: 30px;
    font-size: 20px;
    text-transform: uppercase;
}

.services__card-title::after {
    content: '';
    width: 35px;
    height: 2px;
    display: block;
    background: var(--link);
    margin-top: 15px;

}

.services__img {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 12px;
    background: var(--white);
    box-shadow: 0px 0px 20px #DBDBDB;
    border-radius: 50%;
    margin-left: auto;
}


.services__text {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    font-family: "OS-R";
    font-size: 12px;
    line-height: 25px;
    color: var(--grey);
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.services__link {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-family: "OD-L";
    text-transform: uppercase;
    color: var(--link);
    letter-spacing: 0.6px;
    line-height: 15px;
    font-size: 10px;
}



/* =============================================== */
/* =============================================== */
/* =============================================== */


.work {
    padding: 150px 0;
}

.work__body {
    display: grid;
    grid-template: repeat(5, auto) / 1fr 1fr;
}

.work__intro {
    display: flex;
    flex-direction: column;
}

.work__list {
    display: flex;
}

.work__title {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3px;
    font-weight: 700;
}

.work__title::after {
    content: '';
    width: 45px;
    height: 2px;
    background: var(--link);
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
}

.work__link {
    font-family: "OS-R";
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 18px;
    margin: 0 20px;
    color: var(--link);
    opacity: 0.4;
    transition: 0.5s;
}

.work__link.active {
    opacity: 1;
}

.work__list li a:first-of-type {
    margin: 0 20px 0 0;
}

.work__link:hover {
    opacity: 1;
}

.work__img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.work__intro {
    margin-top: 50px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.work__card {
    position: relative;
    display: grid;
}

.work__card-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: end;
    text-align: right;
}

.work__card-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: left;
    margin-top: -25%;
}

.work__card-3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: right;
    justify-content: end;   
    margin-top: -25%; 
}

.work__card-4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    text-align: left;
    margin-top: -25%;
}


.work__subimg {
    font-family: "OD-L";
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 3px;
    line-height: 71px;
    position: absolute;
}

.work__subimg-2,
.work__card-link {
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-decoration-line: line-through;
}

.work__card-link {
    letter-spacing: 0.8px;
    font-size: 13px;
    line-height: 18px;
    font-family: "OS-R";
    color: var(--link);
    margin-top: 20px;

}

.work__subimg-1,
.work__subimg-3 {
    bottom: 20%;
    left: 50px;
}

.work__subimg-2,
.work__subimg-4 {
    bottom: 20%;
    right: 40px;
}

.work__block-sub {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
}

.work__card-title {
    font-family: "OS-L";
    font-weight: 300;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 1.15px;
}

.work__card-text {
    font-family: "OS-L";
    letter-spacing: 0.8px;
    line-height: 23px;
    font-size: 13px;
}

.work__block-sub-1,
.work__block-sub-3 {
    margin-right: auto;
}

.work__block-sub-2,
.work__block-sub-4 {
    margin-left: auto;
}

.work__bottom-link {
    line-height: 19px;
    font-size: 13px;
    letter-spacing: 2px;
    color: var(--link);
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    text-align: right;
}




/* ========================================================= */
/* ========================================================= */
/* ========================================================= */


.team {
    padding: 130px 0 170px 0;
    background: var(--bg);
}

.team__body {
    display: grid;
    grid-template: auto auto / max-content max-content max-content;
    column-gap: 25px;
    justify-content: space-between;
}

.team__title {
    grid-column: 1 / 4;
    font-family: "OD-B";
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3px;
}

.team__title::after {
    content: '';
    display: block;
    width: 45px;
    margin-top: 7px;
    height: 2px;
    background: var(--link);
    margin-bottom: 65px;
}

.team__img {
    width: 340px;
    height: 360px;
    object-fit: cover;
}

.team__card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.team__name {
    padding: 14px 0;
    font-family: "OD-L";
    font-weight: 300;
    letter-spacing: 1.15px;
    line-height: 27px;
    font-size: 18px;
    color: var(--link);
    text-align: center;
    transition: 1s;
    display: block;
    width: 100%;
}

.team__subimg {
    position: absolute;
    bottom: -13%;
    width: 100%;
    text-align: center;
    transition: 1s;
    background: var(--white);
    opacity: 0.5;
}

.team__decr {
    opacity: 0;
    transition: 1s;
    font-family: "OD-L";
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1.15px;
    line-height: 27px;
    color: var(--link);
}

.team__more {
    opacity: 0;
    transition: 1s;
    line-height: 25px;
    letter-spacing: 1.01px;
    font-size: 12px;
    font-family: "OS-R";
    font-weight: 400;
    color: var(--grey);
}

.team__name::after {
    content: '';
    width: 45px;
    height: 2px;
    background: var(--link);
    display: block;
    margin: 0 auto;
    transform: scaleX(0);
    transition: 1s;
}

.team__card:hover .team__subimg {
    bottom: 0;
    opacity: 0.92;
}

.team__card:hover .team__more {
    opacity: 1;
    margin-top: 12px;
}

.team__card:hover .team__decr {
    opacity: 1;
}

.team__card:hover .team__name::after {
    transform: scaleX(1);
    margin-top: 9px;
    margin-bottom: 6px;
}

.team__card:hover .team__name {
    padding: 0;
}

.team__card:hover .team__subimg {
    padding: 20px 0 30px 0;
}



/* ============================================ */
/* ============================================ */
/* ============================================ */

.comment {
    padding: 115px 0;
}
.comment::after {
    content: '';
    display: block;
    width: 35%;
    background: var(--line);
    height: 1px;
    margin: 0 auto;
    
}

.comment__body .slick-list {
    overflow: hidden;
}

.comment__body .slick-track {
    display: flex;
}

.comment__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.comment__body {
    position: relative;

}

.comment__body .slick-arrow {
    font-size: 0;
}

.comment__body .slick-arrow.slick-prev::before {
    content: '';
    background: url(../img/prev.png);
    width: 20px;
    height: 20px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.comment__body .slick-arrow.slick-next::after {
    content: '';
    background: url(../img/next.png);
    width: 20px;
    height: 20px;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    right: 0;
}

.comment__text {
    font-family: "OS-L";
    font-weight: 300;
    letter-spacing: 0.9px;
    font-size: 14px;
    line-height: 31px;
    margin-bottom: 30px;
    color: var(--comment);
}

.comment__num {
    width: 20px;
    height: 20px;
    object-fit: cover;
    display: inline-block;
    margin-bottom: 30px;
}

.comment__name {
    font-family: "OD-R";
    font-weight: 400;
    letter-spacing: 1.15px;
    font-size: 21px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--link);
    margin-bottom: 25px;
}

.comment__job {
    font-family: "OD-L";
    font-weight: 300;
    text-transform: initial;
    font-size: 18px;
    color: var(--grey);
}

.comment-stars {
    position: relative;
    display: inline-block;
    font-size: 24px;
}

.comment-stars::before {
    content: '★★★★★';
    display: block;
}

.comment-stars__items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.comment-stars__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
}

.comment-stars__label {
    height: 100%;
}

.comment-stars__label::before {
    content: '★';
    display: inline-block;
}

.comment-stars__label:hover,
.comment-stars__label:hover ~ .comment-stars__label,
.comment-stars__label:checked ~ .comment-stars__label {
    color: #ffef9f;
}

.comment-stars__item:checked,
.comment-stars__item:checked ~ .comment-stars__label {
    color: #ffd300;
}

/* ======================================== */
/* ======================================== */
/* ======================================== */

.contact {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.contact__img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-bottom: 20px;
}

.contact__title {
    font-weight: 400;
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2.67px;
    color: var(--comment);
}

.contact__text {
    font-family: "OS-L";
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1.56px;
    color: var(--comment);
}

.contact__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 0 100px 0;
}

.contact__card:first-of-type {
    background: var(--bg);   
}
.contact__card:first-of-type .contact__title, 
.contact__card:first-of-type .contact__text {
    color: var(--link);
}

.contact__card:last-of-type {
    background: var(--contact-green);   
}
/* .contact__card:last-of-type .contact__title,
.contact__card:last-of-type .contact__text {
    color: var(--white);
} */


/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

.footer {
    display: grid;
    grid-template: auto auto / 1fr;
}

.footer__main {
    padding: 140px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--footer-bg);
}

.footer__address,
.footer__num,
.footer__email {
    font-family: "OD-L";
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 20px;
    color: var(--white);
    opacity: 0.7;
}

.footer__address {
    margin-bottom: 10px;
}

.footer__media {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.footer__facebook ,
.footer__pinterest,
.footer__twitter {
    font-size: 24px;
    color: var(--white);
    opacity: 0.4;
    margin: 0 10px;
    transition: 1s;
}

.footer__facebook:hover ,
.footer__pinterest:hover,
.footer__twitter:hover {
    opacity: 1;
}


.footer__second {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: var(--link);
}

.footer__rights {
    line-height: 20px;
    font-family: "OD-L";
    font-weight: 300;
    letter-spacing: 0.8px;
    font-size: 13px;
    color: var(--white);
    opacity: 0.4;
}

